.ipynb_checkpoints
.Rproj.user
.Rhistory
.RData

# ignore account and password
auth.R

# ignore data
*.csv
*.tsv

#temporary files by MS Office
*.tmp

# Word temporary
~$*.doc*

# Word Auto Backup File
Backup of *.doc*

# Excel temporary
~$*.xls*

# Excel Backup File
*.xlk

# PowerPoint temporary
~$*.ppt*

# Visio autosave temporary files
*.~vsd*
